version: "3.8"

services:
    server:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: grid-sense-server
        ports:
            - "8000:8000"
        volumes:
            - .:/app
            - /app/venv
        environment:
            - PYTHONUNBUFFERED=1
        env_file:
            - .env
        restart: unless-stopped
        command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
